.game-board{
    margin-top: 2cm;
    display: grid;
    grid-template-columns: 20px 120px 120px 120px 120px 20px; 
    grid-template-rows: 20px 120px 120px 120px 120px 20px; 
    justify-content: center;
   }
  
   .box {
    background-color: #d9d9d9;
    border: 2px solid black;
   }
  
   .wall{
    background-color:black;
   }
  
   .game {
    background: url("../images/container-background.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 150vh;
    text-align: center;
  }
  
  .game h1 {
    margin-top: 1cm;
    color: #fff;
    font-family: Arcade;
    font-size: 48px;
    text-shadow: 2px 2px 5px #000;
  }
  
  #timer {
    font-family: Arcade;
    font-size: 48px;
    text-shadow: 2px 2px 5px #000;
  }

  .main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

#demo {
  margin-top: 30px;
}

#gmode {
  color: #fff;
  font-family: Arcade;
  font-size: 18px;
  text-shadow: 2px 2px 5px #000;
}

.custom-select {
  margin-top: 5%;
  position: relative;
}

#myList {
  border: 2px solid rgb(126, 87, 170);
  border-radius: 15px;
}

.custom-select select {
  font-family: Arcade;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
  box-shadow: 0 10px 25px rgba(181, 96, 214, 0.726);
  font-size: 1.2rem;
  padding: 1em 2.5em 1em 1.5em;
  background: #6e42a7c7;
  color: #fff;
  border-radius: 15px;
}

.gamebutton {
  margin-top: 2cm;
}

h2 {
  margin-top: 8cm;
  text-decoration: underline;
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  text-shadow: 2px 2px 5px #000;
}