.game-board {
  margin-top: 2cm;
  display: grid;
  grid-template-columns: 20px 120px 120px 120px 120px 20px;
  grid-template-rows: 20px 120px 120px 120px 120px 20px;
  justify-content: center;
}

.box {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.wall {
  background-color: black;
}

.game {
  background: url("../images/container-background.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 140vh;
  text-align: center;
}

.game h1 {
  margin-top: 1cm;
  color: #fff;
  font-family: Arcade;
  font-size: 48px;
  text-shadow: 2px 2px 5px #000;
}

.gamebox {
  font-size: 20px;
}

#timer {
  font-family: Arcade;
  font-size: 38px;
  text-shadow: 2px 2px 5px #000;
}

.main-wrapper {
  width: 512px;
  margin: 0 auto;
}

#demo {
  margin-top: 30px;
}

#gmode {
  color: #fff;
  font-family: Arcade;
  font-size: 18px;
  text-shadow: 2px 2px 5px #000;
}

.custom-select {
  margin-top: 5%;
  position: relative;
}

#myList {
  border: 2px solid rgb(126, 87, 170);
  border-radius: 15px;
}

.custom-select select {
  font-family: Arcade;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
  box-shadow: 0 10px 25px rgba(181, 96, 214, 0.726);
  font-size: 1.2rem;
  padding: 1em 2.5em 1em 1.5em;
  background: #6e42a7c7;
  color: #fff;
  border-radius: 15px;
}

.gamebutton {
  margin-top: 2cm;
}

h2 {
  margin-top: 4cm;
  text-decoration: underline;
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  text-shadow: 2px 2px 5px #000;
}

.leaderboard {
  max-width: 25rem;
  margin: 5rem auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px 1px #aaa;
  font-family: sans-serif;
}

.leaderboard a {
  text-decoration: none;
  color: inherit;
}

.leaderboard header {
  background-color: #00b7ff;
  color: white;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 14rem;
  position: relative;
}

.leaderboard h1 {
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  margin-left: 3rem;
  top: 4rem;
}

.leaderboard img {
  height: 16rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.leaderboard nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 10%,
    rgba(22, 22, 22, 0.5)
  );
}

.leaderboard nav a {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  display: inline-block;
  font-weight: bold;
}

.leaderboard nav a.active {
  border-bottom: 4px solid #f0a900;
}

.leaderboard nav a:first-child {
  margin-left: 3rem;
}

.leaderboard nav a + a {
  margin-left: 1rem;
}

.leaderboard table {
  background-color: #16181e;
  color: #999;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.leaderboard thead {
  font-size: 0.7rem;
  color: #555;
  text-transform: uppercase;
}

.leaderboard tbody .nick {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.leaderboard tbody tr:nth-child(2n) {
  background-color: #1f232c;
}

.nick {
  text-align: left;
}

.rank,
.sp,
.kd {
  text-align: right;
}

.rank {
  width: 4ch;
  padding-left: 1rem;
}

.sp,
.kd {
  width: 8ch;
}

th {
  padding: 1.5rem 1rem 0.5rem;
}

td {
  padding: 1rem 1rem;
}