.game-board2{
    margin-top: 2cm;
    display: grid;
    grid-template-columns: 20px 120px 120px 120px 120px 20px; 
    grid-template-rows: 20px 120px 120px 120px 120px 20px; 
    justify-content: center;
   }
  
   .box {
    background-color: #d9d9d9;
    border: 2px solid black;
   }
  
   .wall{
    background-color:black;
   }
  
   #game {
    background: url("../images/container-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    text-align: center;
  }
  
  #game h1 {
    margin-top: 1cm;
    color: #fff;
    font-family: Arcade;
    font-size: 48px;
    text-shadow: 2px 2px 5px #000;
  }
  
  #timer {
    font-family: Arcade;
    font-size: 48px;
    text-shadow: 2px 2px 5px #000;
  }