body {
  margin: 0px;
}

nav {
  text-align: left;
}

nav ul {
  position: relative;
  display: inline-block;
  top: 28px;
}

nav li {
  margin: 0 10px 0 0;
  display: inline-block;
}

nav .logo a {
  display: inline-block;
  position: relative;
  top: -30px;
  left: -15px;
  text-indent: -999999999px;
}

nav .playbutton button {
  position: relative;
  left: 1250px;
}

nav .playbutton a {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 40px;
}

section {
  padding-top: 20px;
}

#home {
  text-align: center;
  min-height: 100vh;
}

#homeLogo {
  position: relative;
  top: 20px;
}

#homeContent {
  padding-top: 100px;
}

#homeContent h1 {
  padding: 0px 20px 0px 5px;
}

#homeContent p {
  line-height: 170%;
  padding: 0px 20% 20px;
  margin-top: 80px;
}

#homeContent audio {
  margin-top: -25px;
}

#aboutGame {
  text-align: center;
}

#aboutGame p {
  margin-top: 40px;
  line-height: 25px;
  padding: 0px 20% 20px;
}

#aboutGame h3 {
  margin-top: 2cm;
}

#aboutGame video{
  margin-bottom: 2cm;
}

.descBox {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.gameDesc {
  padding: 0px 20% 20px;
}

#features {
  margin-top: 40px;
}

#features figure {
  display: inline-block;
}

#features figure figcaption {
  margin-top: 10px;
}

#login {
  min-height: 100vh;
}

#loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

#loginBox h1 {
  text-align: center;
}

.inputBox {
  position: relative;
}

.inputBox input {
  padding: 10px 0;
  margin: 40px 0 0px 0;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 50px 0;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -18px;
  left: 0;
}

#loginBox .forgotPassw a {
  line-height: 60px;
}

#loginBox .createAcc {
  line-height: 100px;
  text-align: center;
}

#loginBox input[type="submit"] {
  padding: 10px 20px;
  margin-top: 20px;
}

#aboutTeam {
  min-height: 95vh;
}

#aboutTeam h1 {
  text-align: center;
}

#team {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}

#team .bio {
  margin: 20px;
  padding: 30px;
  line-height: 20px;
}

#team .bio h2 {
  margin-top: 50px;
}

#team .bio .role {
  margin-top: 25px;
}

#team .bio p {
  margin-top: 60px;
}

.social {
  display: flex;
  justify-content: center;
}

.social ul {
  padding: 0;
  margin: 10px 90px;
  display: flex;
}
.social ul li {
  margin: 0 10px;
}
.social ul li .fa {
  line-height: 50px;
}

.social ul li a {
  display: block;
  text-align: center;
}

footer {
  padding: 15px;
  text-align: center;
}

