@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

body {
  margin: 0px;
}

nav {
  background: black;
  font-family: Arcade;
  text-align: left;
}

nav ul {
  position: relative;
  display: inline-block;
  top: 28px;
}

nav li {
  color: white;
  margin: 0 10px 0 0;
  display: inline-block;
}

nav .logo a {
  background-image: url("../images/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  height: 80px;
  width: 80px;
  top: -30px;
  left: -15px;
  text-indent: -999999999px;
}

nav .playbutton button {
  position: relative;
  left: 1250px;
}

nav .playbutton a {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 165px;
  line-height: 40px;
  font-size: 16px;
  font-family: Arcade;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

nav .playbutton a:hover {
  animation: animate 8s linear infinite;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav a:visited {
  text-decoration: none;
}

nav a:active {
  color: aqua;
}

nav a:hover {
  text-decoration: underline;
  font-size: 110%;
  transition: 0.5s;
}

nav a:link {
  color: white;
}

#Home {
  background: url("../images/container-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

#HomeLogo {
  position: relative;
  width: 18%;
  top: 60px;
}

#HomeContent {
  padding-top: 100px;
}

#HomeContent h1 {
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  font-style: italic;
  padding: 0px 20px 0px 5px;
  text-shadow: 2px 2px 5px #000;
  margin-top: 85px;
}

#HomeContent p {
  color: #fff;
  font-family: Arcade;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 15px;
  font-style: italic;
  padding: 0px 20% 20px;
  text-shadow: 1px 1px 3px #000;
  margin-top: 95px;
}

#HomeContent audio {
  margin-top: 75px;
}

section {
  font-family: Arcade;
  font-size: larger;
  padding-top: 20px;
}

#AboutGame {
  text-align: center;
}

#Features {
  
}

#Features figure {
  display: inline-block;
  margin: 10px;
}

#Features figure figcaption {
  margin-top: 10px;
}

#Login {
  background: url("https://parsec.app/static/background-a8d2dfaa805b19435d697c723e1ed2bd.png");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  min-height: 100vh;
}

#LoginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#LoginBox h1 {
  color: white;
  text-align: center;
}

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  margin: 40px 0 40px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 50px 0;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  top: -18px;
  left: 0;
  font-size: 12px;
  color: rebeccapurple;
}

#LoginBox input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  font-family: Arcade;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  background: rebeccapurple;
}

footer {
  background: black;
  color: gray;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Courier,
    monospace;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

#aboutTeam {
  background: url("https://i.imgur.com/lLfM33a.gif");
  min-height: 95vh;

}

#aboutTeam h1 {
  text-align: center;
  color: white;
  text-shadow: black;
}

#team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  margin-top: 60px;
}

#team .bio {
  background: black;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 30px;
  line-height: 20px;
  position: relative;
  color: white;
  border-radius: 15px;
}

#team .bio h2 {
  color: #03a9f4;
  letter-spacing: 1px;
  font-size: 22px;
  margin-top: 50px;
  font-family: Arcade;
}

#team .bio .role {
  font-size: 18px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #ccc;
  font-family: Arcade;
}

#team .bio p {
  font-family: Arcade;
  font-size: 15px;
  margin-top: 60px;
}

#team .bio .photo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

