@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

nav {
  background: black;
  font-family: Arcade;
  text-align: left;
}

nav li {
  color: white;
}

nav .logo a {
  background-image: url("../images/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  text-indent: -999999999px;
}

nav .playbutton a {
  width: 165px;
  font-size: 16px;
  font-family: Arcade;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

nav .playbutton a:hover {
  animation: animate 8s linear infinite;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav a:visited {
  text-decoration: none;
}

nav a:active {
  color: aqua;
}

nav a:hover {
  text-decoration: underline;
  font-size: 110%;
  transition: 0.5s;
}

nav a:link {
  color: white;
}

#Home {
  background: url("../images/container-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#HomeLogo {
  width: 18%;
}

#HomeContent h1 {
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  font-style: italic;
  text-shadow: 2px 2px 5px #000;
}

#HomeContent p {
  color: #fff;
  font-family: Arcade;
  letter-spacing: 2px;
  font-size: 15px;
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
}

section {
  font-family: Arcade;
  font-size: larger;
}

#Features figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: gray 0 0 25px;
  border: 1px solid #fff;
}

#Login {
  background: url("https://pixelz.cc/wp-content/uploads/2019/12/pokemon-sword-and-shield-sobble-grookey-scorbunny-uhd-4k-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#LoginBox {
  width: 400px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#LoginBox h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
}

.inputBox input {
  width: 100%;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.inputBox label {
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  font-size: 12px;
  color: rebeccapurple;
}

#LoginBox .forgotPassw a {
  font-size: 12px;
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
}

#LoginBox .createAcc {
  font-size: 13px;
  color: white;
}

#LoginBox .createAcc a {
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
}

#LoginBox input[type="submit"] {
  font-size: 16px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: Arcade;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffeb3b, #03a9f4);
  text-shadow: 1px 1px 3px #000;
}

footer {
  background: black;
  color: gray;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Courier,
    monospace;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

#aboutTeam {
  background: url("https://i.imgur.com/lLfM33a.gif");
}

#aboutTeam h1 {
  color: white;
  text-shadow: black;
}

#team {
  width: auto;
}

#team .bio {
  background: black;
  width: 300px;
  color: white;
  border-radius: 15px;
}

#team .bio:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.5s;
}

#team .bio h2 {
  color: #03a9f4;
  letter-spacing: 1px;
  font-size: 22px;
  font-family: Arcade;
}

#team .bio .role {
  font-size: 18px;
  text-transform: uppercase;
  color: #ccc;
  font-family: Arcade;
}

#team .bio p {
  font-family: Arcade;
  font-size: 15px;
}

#team .bio .photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
