@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}

body {
  margin: 0px;
}

header {
  background: black;
  font-family: Arcade;
  text-align: left;
}

nav ul {
  position: relative;
  display: inline-block;
  top: 28px;
}

nav li {
  color: white;
  margin: 0 10px 0 0;
  display: inline-block;
}

nav .logo a {
  background-image: url("../images/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative; 
  height: 80px;
  width: 80px;
  top: -30px;
  left: -15px;
  text-indent: -999999999px;
}

nav .playbutton button {
  position: relative;
  left: 1250px;
}

nav .playbutton a{
  position: absolute;
  transform: translate(-50%, -50%);
  width: 165px;
  line-height: 40px;
  font-size: 16px;
  font-family: Arcade;  
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

nav .playbutton a:hover{
  animation: animate 8s linear infinite;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: aqua;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: white;
}

#Home {
  background: url("../images/container-background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

#HomeLogo {
  position: relative;
  width: 18%;
  top: 60px;
}

#HomeContent{
  padding-top: 100px;
}

section {
  font-family: Arcade;
  font-size: larger;
  padding-top: 20px;
}

#AboutGame{
  text-align: center;
}

#Features {
  display: inline-block;
}

#Features figure{
  margin: 0; /* A retirar */
}

footer {
  background: black;
  color: gray;
  padding: 15px;
  font-size: 14px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Courier, monospace;
}

h1 {
  color: black;
}

h2 {
  color: black;
}