@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

nav {
  background: black;
  font-family: Arcade;
}

nav li {
  color: white;
}

nav .logo a {
  background-image: url("../images/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}

nav .playbutton a {
  width: 165px;
  font-size: 16px;
  font-family: Arcade;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  transition: none;
}

nav .playbutton a:hover {
  animation: animate 8s linear infinite;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav a:visited {
  text-decoration: none;
}

nav a:active {
  color: aqua;
}

nav a:hover {
  text-decoration: underline;
  font-size: 110%;
  transition: 0.5s;
}

nav a:link {
  color: white;
}

section {
  font-family: Arcade;
  font-size: larger;
}

#home {
  background: url("../images/container-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#homeLogo {
  width: 25%;
}

#homeContent h1 {
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  font-style: italic;
  text-shadow: 2px 2px 5px #000;
}

#homeContent p {
  color: #fff;
  font-family: Arcade;
  letter-spacing: 2px;
  font-size: 15px;
  text-shadow: 1px 1px 3px #000;
}

#features figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: gray 0 0 25px;
  border: 1px solid #fff;
}

#features figure figcaption {
  color: #000;
  text-shadow: 2px 2px 5px grey;
}

#aboutGame h2 {
  font-size: 36px;
  text-shadow: 2px 2px 5px grey;
}

#aboutGame p {
  color: #333;
  font-size: medium;
}

#aboutGame h3 {
  font-size: 34px;
  text-shadow: 2px 2px 5px grey;
}

.descBox {
  border: 5px green solid;
  border-radius: 10px;
  background-color: lightgreen;
  width: 60%;
}

.gameDesc {
  color: white;
  text-shadow: 0 0 3px grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#login {
  background: url("../images/pokemon-sword-and-shield.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#loginBox {
  width: 400px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#loginBox h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
}

.inputBox input {
  width: 100%;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.inputBox label {
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
  font-size: 12px;
  color: aquamarine;
}

#loginBox .forgotPassw a {
  font-size: 12px;
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
}

#loginBox .createAcc {
  font-size: 13px;
  color: white;
}

#loginBox .createAcc a {
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
}

#loginBox input[type="submit"] {
  font-size: 16px;
  font-family: Arcade;
  color: white;
  text-shadow: 1px 1px 3px #000;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #ffeb3b, #03a9f4);
}

#aboutTeam {
  background: url("https://i.imgur.com/lLfM33a.gif");
}

#aboutTeam h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
}

#team {
  width: auto;
}

#team .bio {
  background: black;
  width: 300px;
  color: white;
  border-radius: 15px;
}

#team .bio:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.5s;
}

#team .bio h2 {
  color: #03a9f4;
  letter-spacing: 1px;
  font-size: 22px;
  font-family: Arcade;
}

#team .bio .role {
  font-size: 18px;
  text-transform: uppercase;
  color: #ccc;
  font-family: Arcade;
}

#team .bio p {
  font-family: Arcade;
  font-size: 15px;
}

#team .bio .photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.social ul li {
  list-style: none;
}

.social ul li .fa {
  color: #000000;
  font-size: 25px;
  transition: 0.4s;
}

.social ul li .fa:hover {
  color: #ffffff;
}

.social ul li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social ul li:nth-child(1) a:hover {
  background-color: #55acee;
}

.social ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.social ul li:nth-child(3) a:hover {
  background-color: #000;
}

footer {
  background: black;
  color: gray;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Courier,
    monospace;
}
