@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

body {
  margin: 0px;
}

header {
  background: black;
  font-family: Arcade;
  text-align: left;
}

header .logo a {
  background-image: url("../images/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative; 
  height: 80px;
  width: 80px;
  top: -30px;
  left: -15px;
  text-indent: -999999999px;
}

header .playbutton button {
  position: relative;
  left: 1250px;
}

.container {
  background: url("../images/container-background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.container-logo {
  position: relative;
  width: 23%;
  top: 60px;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: aqua;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: white;
}

section {
  font-family: Arcade;
}

footer {
  background: black;
}

h1 {
  color: black;
  margin: 15px;
}

h2 {
  color: black;
  margin: 15px;
}

nav ul {
  display: inline-block;
  position: relative;
  top: 30px;
}

nav li {
  color: white;
  margin: 0 10px 0 0;
  display: inline-block;
}
