@font-face {
  font-family: Arcade;
  src: url(fonts/joystix\ monospace.ttf);
}

body {
    font-family: Arcade;
    font-size: 20px;
  }

  .game2 {
    position: relative;
    background-image: url('http://bit.ly/pokemonbg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 3px solid black;
    border-radius: 8px 8px 0 0;
    height: 480px;
    width: 800px;
    margin: 0 auto;
  }
  
  .opponent {
    position: relative;
    height: 300px;
  }
  
  .opponent .stats {
    position: absolute;
    top: 50px;
    left: 35px;
    width: 320px;
  }
  
  .stats {
    text-align: left;
  }

  .name {
    font-size: 16px;
    margin-left: 5px;
  }

  .level {
    float: right;
    font-size: 15px;
    margin-top: 5px;
  }

  .opponent .pokemon {
    position: absolute;
    bottom: 0;
    right: 140px;
    width: 100px;
  }
  
  .player {
    position: relative;
    height: 192px;
  }
  
  .player .stats {
    position: absolute;
    top: 70px;
    right: 35px;
    width: 320px;
  }
  
  .player .pokemon {
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 160px;
  }
  
  .box {
    padding: 8px;
    background: #333;
    border: 3px solid black;
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: #fff;
    height: 120px;
    width: 784px;
    margin: 0 auto;
  }
  
  .box .message {
    position: relative;
    float: left;
    font-size: 24px;
    /* width: 50%; */
  }
  .box .continue {
    position: absolute;
    margin-top: 45px;
    float: left;
    width: 25%;
  }
  .box .continue  button {
    position: relative;
    float: left;
    background: #666;
    border: 3px solid #888;
    border-radius: 4px;
    color: #fff;
    font-family: Arcade;
    font-size: 20px;
    line-height: 14px;
    margin: 4px;
    padding: 16px;
    outline: none !important;
  }
  .box .continue button:hover {
    background: #777;
    border-color: #999;
  }
  
  .box .continue button:active {
    background: #555;
    border-color: #666;
  }
  
  .box .actions {
    position: relative;
    float: right;
    width: 45%;
    height: 100%;
    text-align: left;
  }
  
  .box .actions button {
    position: relative;
    float: left;
    background: #666;
    border: 3px solid #888;
    border-radius: 4px;
    color: #fff;
    font-family: Arcade;
    font-size: 20px;
    line-height: 14px;
    margin: 4px;
    padding: 16px;
    width: calc(50% - 8px);
    height: calc(50% - 8px);
    outline: none !important;
  }
  
  .box .actions button:hover {
    background: #777;
    border-color: #999;
  }
  
  .box .actions button:active {
    background: #555;
    border-color: #666;
  }

  #ap_message {
    top: 10px;
  }

  .stats {
    background: #111;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
    padding: 12px;
  }
  
  .stats .pokeballs {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    bottom: 2px;
  }
  
  .stats .pokeballs .pokeball {
    position: relative;
    float: left;
    background-image: url('http://bit.ly/pokeballimg');
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
  }
  
  .stats .hp-count:before {
    content: 'HP: ';
  }
  
  .stats .hp-count {
    float: right;
    color: rgb(0, 255, 0);
  }


  .stats .name {
    font-weight: bold;
  }
  
  .stats .level:before {
    content: "LVL"
  }
  