@font-face {
  font-family: Arcade;
  src: url(font/joystix\ monospace.ttf);
}

body {
  margin: 0px;
  margin-top: 0px;
}

header {
  background: black;
  width: 100%;
  font-family: Arcade;
  text-align: center;
}

header .logo a {
  background-image: url("../imgs/pokeball-logo.png");
  background-size: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative; 
  height: 80px;
  width: 80px;
  top: -30px;
  text-indent: -999999999px;
}

.container {
  background: url("../imgs/container-background.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.1vw;
  min-height: 100vh;
}

.container-logo {
  padding-top: 100px;
  margin-left: 40.5%;
  width: 15%;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  color: aqua;
}

a:hover {
  text-decoration: underline;
}

a:link {
  color: white;
}

section {
  font-family: Arcade;
}

footer {
  background: black;
}

h1 {
  color: black;
  margin: 15px;
}

h2 {
  color: black;
  margin: 15px;
}

nav ul {
  margin: 0px;
  padding: 12px;
  display: inline-block;
  position: relative;
  top: 30px;
}

nav li {
  color: white;
  margin: 0 25px 0 0;
  display: inline-block;
}
