body {
  margin: 0px;
}

nav {
  text-align: left;
  height: 115px;
}

nav .logo {
  margin-left: 35px;
  vertical-align: middle;

}

nav ul {
  display: inline-block;
  margin: 10px 0 0 -10px;
}

nav ul li {
  margin: 35px 5px 0 5px;
  display: inline-block;
}

nav .playbutton {
  float: right;
  margin-top: 55px;
  margin-right: 125px;
}

nav .playbutton a {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 40px;
}

section {
  padding-top: 20px;
}

#home {
  text-align: center;
  min-height: 100vh;
}

#homeLogo {
  position: relative;
  top: 20px;
}

#homeContent {
  padding-top: 55px;
  padding-bottom: 5px;
}

#homeContent h1 {
  padding: 0px 20px 0px 5px;
}

#homeContent p {
  line-height: 170%;
  padding: 0px 20% 20px;
  margin-top: 80px;
}

#homeContent audio {
  margin-top: -25px;
}

#aboutGame {
  text-align: center;
}

#aboutGame p {
  margin-top: 40px;
  line-height: 25px;
  padding: 0px 20% 20px;
}

#aboutGame h3 {
  margin-top: 2cm;
}

#features {
  margin-top: 40px;
}

#features figure {
  display: inline-block;
}

#features figure figcaption {
  margin-top: 10px;
}

#aboutGame #nintendo {
  text-align: center;
  margin-top: 5px;
  padding: 0;
}

#login {
  height: 100vh;
}

#loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

#loginBox h1 {
  text-align: center;
}

.inputBox {
  position: relative;
}

.inputBox input {
  padding: 10px 0;
  margin: 40px 0 0px 0;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 50px 0;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  top: -18px;
  left: 0;
}

#loginBox .forgotPassw a {
  line-height: 60px;
}

#loginBox .createAcc {
  line-height: 100px;
  text-align: center;
}

#loginBox .botao {
  padding: 10px 20px;
  margin-top: 20px;
}

.strengthPassw {
  margin-top: 10px;
}

#wiki {
  min-height: 194vh;
  background-attachment: fixed;
}

#wiki h1 {
  text-align: center;
  margin-right: 23%;
}

#wiki .title {
  text-align: justify;
  margin-top: 0;
}

.gameDesc {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.descBox {
  text-align: justify;
  padding: 25px 50px 0;
}

.pokedex {
  margin-left: 50px;
}

#wiki h2 {
  text-align: center;
  margin-top: 3cm;
}

.starterPoks {
  display: flex;
  justify-content: center;
}

.card {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-image {
  margin-top: -10rem;
}

.card-image img {
  margin-bottom: 2rem;
}

.card-text {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 14rem;
}

.card-text h2 i {
  margin: 1rem;
}

.card-text p {
  margin-bottom: 2rem;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem;
  position: absolute;
  bottom: 0;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover .card-image img {
  margin-top: -6.2rem;
  position: relative;
  z-index: 50;
}

#aboutTeam {
  height: 90vh;
}

#aboutTeam h1 {
  text-align: center;
}

#team {
  display: flex;
  text-align: center;
  justify-content: center;
}

#team .bio {
  margin: 20px;
  padding: 30px;
  line-height: 20px;
}

#team .bio h2 {
  margin-top: 50px;
}

#team .bio .role {
  margin-top: 25px;
}

#team .bio p {
  margin-top: 60px;
}

.social {
  display: flex;
  justify-content: center;
}

.social ul {
  padding: 0;
  margin: 10px 90px;
  display: flex;
}

.social ul li {
  margin: 0 10px;
}

.social ul li .fa {
  line-height: 50px;
}

.social ul li a {
  display: block;
  text-align: center;
}

footer {
  padding: 15px;
  text-align: center;
}

.gamebutton a {
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 40px;
}