html {
  scroll-behavior: smooth;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* -------- FONT -------- */

@font-face {
  font-family: Arcade;
  src: url(fonts/joystixmonospace.ttf);
  font-display:swap;
}

/* -------- ANIMATIONS -------- */

@keyframes animate {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

audio::-internal-media-controls-download-button {
  display: none;
}

/* -------- NAV-BAR -------- */

nav {
  background: black;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 1) 0 0 25px;
  position: relative;
}

nav ul {
  font-family: Arcade;
  font-size: 105%;
}

nav li {
  color: white;
}

nav .logo {
  height: 80px;
  width: 80px;
  line-height: 10000px;
}

nav .playbutton a {
  width: 165px;
  font-size: 16px;
  font-family: Arcade;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  transition: none;
}

nav .playbutton a:hover {
  animation: animate 8s linear infinite;
  font-size: 135%;
  transition: 0.5s;
  text-decoration: none;
}

nav li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

nav li a:visited {
  text-decoration: none;
}

nav li a:active {
  color: aqua;
}

nav li a:hover {
  text-decoration: underline;
  font-size: 125%;
  transition: 0.5s;
}

nav a:link {
  color: white;
}

/* -------- MOBILE-MENU -------- */

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* -------- HOME -------- */

section {
  font-family: Arcade;
  font-size: larger;
}

#home {
  background: url("../images/bckground-container.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#homeLogo {
  width: 25%;
}

#homeContent h1 {
  color: #fff;
  font-family: Arcade;
  font-size: 38px;
  font-style: italic;
  text-shadow: 2px 2px 5px #000;
}

#homeContent p {
  color: #fff;
  font-family: Arcade;
  letter-spacing: 2px;
  font-size: 15px;
  text-shadow: 1px 1px 3px #000;
}

#features figure img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: gray 0 0 25px;
  border: 1px solid #fff;
}

#features figure figcaption {
  color: #000;
  text-shadow: 2px 2px 5px grey;
}

#aboutGame h2 {
  font-size: 36px;
  text-shadow: 2px 2px 5px grey;
}

#aboutGame p {
  color: #333;
  font-size: medium;
}

#aboutGame h3 {
  font-size: 34px;
  text-shadow: 2px 2px 5px grey;
}

#aboutGame video {
  width: 50%;
  border-radius: 10px;
  box-shadow: gray 0 0 25px;
}

#aboutGame #nintendo {
  font-size: small;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(184, 184, 184);
}

/* -------- LOGIN/REGISTER -------- */

#login {
  background: url("../images/bckground-login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#loginBox {
  width: 400px;
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

#loginBox h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
}

.inputBox input {
  width: 100%;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
}

.inputBox label {
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
  font-size: 12px;
  color: aquamarine;
}

#loginBox .forgotPassw a {
  font-size: 12px;
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
}

#loginBox .createAcc {
  font-size: 13px;
  color: white;
}

#loginBox .createAcc a {
  font-style: italic;
  text-shadow: 1px 1px 3px #000;
  color: aqua;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: aqua;
}

#loginBox .botao {
  font-size: 16px;
  font-family: Arcade;
  color: white;
  text-shadow: 1px 1px 3px #000;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(90deg, #ffeb3b, #03a9f4);
}

.strengthPassw {
  color: #fff;
  font-size: 50%;
}

/* -------- WIKI -------- */

#wiki {
  background: url("../images/bckground-wiki.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#wiki h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
  font-size: 38px;
}

#wiki .descBox {
  width: 100vh;
  color: #fff;
  border: 5px #ffffff solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: rgb(133, 133, 133) 0 0 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#wiki .descBox li {
  line-height: 35px;
}

#twitter-widget-0 {
  border-radius: 15px;
  box-shadow: rgb(0, 179, 250) 0 0 10px;
}

#wiki h2 {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-size: 38px;
}

/* -------- POKÉMON CARDS -------- */

.starterPoks {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  height: 80vh;
  width: 30rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  border-radius: 0.8rem;
  background-color: #fff;
}

.card-image {
  width: 80%;
}

.card-image img {
  width: 25rem;
  transition: all 0.5s ease;
}

.card-text {
  font-size: 1.5rem;
}

.date {
  font-weight: 700;
}

.card-text h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.card-text h2 i {
  font-size: 3rem;
}

.fas.fa-fire,
.date-1 {
  color: coral;
}

.fas.fa-leaf,
.date-2 {
  color: forestgreen;
}

.fas.fa-tint,
.date-3 {
  color: #03a9f4;
}

.card-stats {
  width: 87%;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 700;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.card-1 {
  background-image: linear-gradient(to right, coral, orange);
}

.card-2 {
  background-image: linear-gradient(to right, forestgreen, lawngreen);
}

.card-3 {
  background-image: linear-gradient(to right, blue, deepskyblue);
}

.card:hover .card-image img {
  width: 30rem;
  transform: rotate(-15deg);
}

/* -------- ABOUT US -------- */

#aboutTeam {
  background: url("https://i.imgur.com/lLfM33a.gif");
}

#aboutTeam h1 {
  color: white;
  text-shadow: 2px 2px 5px #000;
  font-size: 38px;
}

#team {
  width: auto;
}

#team .bio {
  background: black;
  width: 300px;
  color: white;
  border-radius: 15px;
}

#team .bio:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

#team .bio h2 {
  color: #03a9f4;
  letter-spacing: 1px;
  font-size: 22px;
  font-family: Arcade;
}

#team .bio .role {
  font-size: 18px;
  text-transform: uppercase;
  color: #ccc;
  font-family: Arcade;
}

#team .bio p {
  font-family: Arcade;
  font-size: 15px;
}

#team .bio .photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.social ul li {
  list-style: none;
}

.social ul li .fa {
  color: #000000;
  font-size: 25px;
  transition: 0.4s;
}

.social ul li .fa:hover {
  color: #ffffff;
}

.social ul li a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social ul li:nth-child(1) a:hover {
  background-color: #55acee;
}

.social ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}

.social ul li:nth-child(3) a:hover {
  background-color: #000;
}

/* -------- FOOTER -------- */

footer {
  background: black;
  color: gray;
  font-size: 14px;
  bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Courier,
    monospace;
}

/* -------- ???? -------- */

.gamebutton a {
  width: 165px;
  font-size: 16px;
  font-family: Arcade;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  transition: none;
  pointer-events: auto;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

a:link {
  color: white;
}

/* -------- MEDIA-QUERIES -------- */

@media screen and (max-width: 767px) {
  .nav-ul {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 200%;
    float: right;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 1) 0 0 25px;
    text-shadow: 2px 2px 5px #000;
  }

  .nav-ul li {
    display: block;
    line-height: 10px;
  }

  .show {
    display: flex;
  }

  .playbutton {
    display: none;
  }

  .logo {
    margin-top: 20px;
  }

  .hamburger {
    display: block;
    float: right;
    margin: 45px 25px 0 0;
  }

  #homeLogo {
    width: 65%;
  }

  #home #homeContent h1 {
    font-size: 100%;
  }

  #home #homeContent p {
    font-size: 75%;
    padding: 0px 15% 0;
    margin-top: 45px;
  }

  .home-audio {
    display: none;
  }

  #aboutGame h2 {
    font-size: 100%;
  }

  #aboutGame p {
    font-size: 75%;
  }

  #aboutGame figure img {
    width: 195px;
    height: 195px;
  }

  #aboutGame h3 {
    font-size: 100%;
  }

  footer {
    font-size: 75%;
  }

}

@media screen and (max-height: 780px) {

  #loginBox {
    margin-top: 10%;
  }
}

